<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DB_TELEEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DBContent" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent1" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent2" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent3" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent4" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent5" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent6" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent7" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent8" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent9" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent10" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="DBContent11" connectionString="data source=.;initial catalog=DB_TELE;persist security info=True;user id=root;password=121804500239;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>